/* -------------------------------------------------------------------------- */
/*                               Resuable Style                               */
/* -------------------------------------------------------------------------- */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    width: 80%;
    margin: 0 auto;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: $mainFont
}
/* -------------------------------------------------------------------------- */
/*                                    icons                                   */
/* -------------------------------------------------------------------------- */
[class ^= ti]{
    color: $mainColor;
    font-size: 6rem;
}
[class ^=fa]{
    margin-right: 1rem;
    color: #e4e4e4;
    font-size: 2rem;
}
/* -------------------------------------------------------------------------- */
/*                                   Headers                                  */
/* -------------------------------------------------------------------------- */
h3{
    font-size: 2.5rem;
    font-weight: 300;
}
h4{
    font-size: 2.3rem;

    font-weight: 300;
}